* {
	scroll-behavior: smooth;
}

section {
	scroll-snap-align: start;
	scroll-snap-type: y mandatory;
}

.navbar {
	background: rgba(255, 255, 255, 0.02);
	backdrop-filter: blur(35px);
}
.hero {
	background-image: url(./assets/radial.svg);
}
.blurr {
	background-image: url(./assets/blur-1.svg);
}
.radial {
	background: radial-gradient(
		49.2% 49.18% at 49.43% 50.82%,
		#0b212d 0%,
		#040d12 100%
	);
}
